<!-- tt_tree_branch displays a single list of nodes.  It may add nodes
that need to recursively include other branches-->
<ul class="tree-outer tree-node-list">
    <li>
        <div id="sibholdxxx" class="tree-sibling-dropzone">
            <div class="tree-node-nav"></div>
        </div>
    </li>
    <% nodes.each do |node| %>
      <li>
        <%= render(node) %>
        <%= render "shared/tt_tree_branch", :nodes => node.child_user_stories if node.child_user_stories.length > 0  %>
        <div id="tndz-<%= node.id %>" class="tree-sibling-dropzone">
            <div class="tree-node-nav"></div>
        </div>
      </li>
    <% end %>
</ul>
      
