
/* -----------------------------------------------------------------------
    default baseline styles
-----------------------------------------------------------------------*/
body
{
    font-family:helvetica;
    padding:0;
    margin:0;
    position:relative;
   background-color:#001122;
}

p {
    margin: 0 0 .75em 0;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 .5em 0;
}

table {
   width:100%;
   text-align: left;
   border-style:solid;
   border-width:thin;
   border-collapse:collapse;
}

table, table td, table th {
  border: 1px solid #CC9933;
  margin:0;
}

header, section, footer {
    position: relative; /*anything contained will use this position for absolute positions*/
    clear:both;
}

menu {
    padding: 0;
    margin: 0;
}


/* -----------------------------------------------------------------------
    Custom styles
----------------------------------------------------------------------- */

img.page-logo {
   height:120px;
   width:120px;
   float: left;
   vertical-align:middle;
   padding: 4px;
}

header.page-header {
   background-image:url(../images/bubbles.jpg);
   height: 8em;
   padding:0;
   margin:0;
}

h1.page-header{
    margin:0;
    padding:0;
    color: #553295;
    text-shadow:3px 3px 3px #FFF;
}

menu.app-menu {
    text-align:right;
}

.story-actor {
    font-weight:bold;
}
.edit-story-wantto {
    font-weight:bold;
    color: red;
}

.main-body-section {
   margin:0;
   padding: 10px;
   min-height: 400px;
   color: #FFF187;
}

.main-body-section h1 {
    color: #CC9933;
}



/*  ----------------------------------------------------------
    popup box
----------------------------------------------------------*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#001122;
  display:none;
}

#popupStory {
  width:375px; 
  height:203px;
  display:none;
}

#popupStory .edit-story-container {
  width:100%;
  height:100%;
  position:relative;
}

.refined-list-combo {
    padding:0;
    margin: 0;
}

.refined-list-results {
    padding:2px;
    left:50px;
    margin: -14px 20px 5px 40px;
    border: 1px solid black;
}

.refined-list-results .selected {
    background-color:lightblue;
}

#popupStory input {
  border:1px solid #cccccc;
  height:22px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

p.label-field-pair {
    position: relative;
    padding: 3px;
}

p.label-field-pair input, p.label-field-pair textarea{
    left:80px;
    width: 280px;
    vertical-align:top;
  border:1px solid #cccccc;
  font-size:15px;
  padding:3px;
  margin-top:2px 0 0 0;
}

p.label-field-pair textarea{
    width: 480px;
    height: 55px;
}


/*#popupStory .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#popupStory .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#popupStory .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#popupStory .d-login {
  float:left;
  width:108px; 
  height:53px;
}*/

  
#popupWrapper .popupStory {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#popupWrapper .popupStory {
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}

#popupWrapper .popupStory {
  width:500px; 
  height:400px;
}

#popupStory textarea {
    width:100%
}

/*  ----------------------------------------------------------
    tree control
----------------------------------------------------------*/
.tree-node {
    list-style: none;
}

.tree-node ul {
   -webkit-padding-start: 20px;
    text-align:left;
}

.tree-inner {
}

.tree-sibling-dropzone {
    height:3px;
}

.tree-node {
}

.tree-node-function {
    min-width: 18px;
    float: left;
    /*overflow: hidden;*/
}

.tree-node-body {
    padding: 0;
    margin: 0 0 0 50px;
}

.tree-node-nav {
    padding: 0;
    margin: 0;
    min-width: 12px;
    float:left;
    height: 1px;
    padding: 0px 0px 1000px 0px;
    margin: 0px 0px -1000px 0px;
}

.tree-node-command {
    height: 12px;
    background-repeat:no-repeat;
}

.tree-node-fill {
    min-width: 12px;
    float:left;
    height: 1px;
    padding: 0px 0px 1000px 0px;
    margin: 0px 0px -1000px 0px;
    background-repeat:repeat;
}


.tree-node-nav-sibling {
    background-image:url(../images/tree2-leaf-fill.png);
}

.tree-node-nav-leaf {
    background-image:url(../images/tree2-leaf.png);
}

.tree-node-nav-leaf-expand {
    background-image:url(../images/tree2-leaf-expand.png);
}

.tree-node-nav-leaf-collapse {
    background-image:url(../images/tree2-leaf-collapse.png);
}

.tree-node-nav-fill {
    background-image:url(../images/tree2-leaf-fill.png);
}

.tree-node-nav-nofill {
    background-image:none;
}

.tree-node-nav-leaf-last {
    background-image:url(../images/tree2-leaf-last.png);
}

.tree-node-nav-sibling-last {
    background-image:none;
}

.tree-node-nav-root {
    background-image:url(../images/tree2-topper.png);
    background-repeat:no-repeat;
}

.tree-node li {
    overflow: hidden;
}

.tree-outer {
   -webkit-padding-start: 5px;
}


/*  ----------------------------------------------------------
    Project menu
----------------------------------------------------------*/
menu.project-menu{
    position:absolute;
    left: 120px;
    bottom:0;
    margin:0;
}

menu.project-menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

menu.project-menu ul li {
    display:inline; 
    /*width: 150px;
    height: 34px;*/
    float: left;
    padding: 0;
    margin: 0 0 15px 10px;
    text-align:center;
}
menu.project-menu ul li a{
    bottom:0;
    padding:16px; 
    background: rgba(0,17,34,0.5); 
    text-decoration: none; 
    font: bold 20px Helvetica, Sans-Serif; 
    color: #FFF187;
    -moz-border-radius-topleft: 12px; 
    -webkit-border-top-left-radius:12px;
    -moz-border-radius-topright: 12px; 
    -webkit-border-top-right-radius:12px;

}

/* hover state shows a linear gradient and opacity it brought down to 0.9 and also shows a very slight grey shadow on top */
menu.project-menu ul li a:hover { 
    -moz-box-shadow: 0 -5px 10px #777; 
    -webkit-box-shadow: 0 -5px 10px #777;
   background: -webkit-gradient(
      linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
   background: -moz-linear-gradient(
      right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
   background-color:rgb(255,173,10) !important;
   -moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; 
}
 
/* another RGBA background, now with an opacity of 0.8 */
menu.project-menu ul li a.active { 
    background: rgba(0,17,34,1.0) !important; 
    color: #CC9933;
}
