    <table class="table project-users">
      <tr>
        <th class="user">User</th>
        <th class="role">Role</th>
      </tr>
      <% @project.project_users.each do |pu| %>
        <tr>
          <td><%= pu.email(current_user) %></td>
          <td>
            <%= pu.role %>
          </td>
        </tr>
      <% end %>
    </table>
